[submodule "deps/external/stb"]
	path = deps/external/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/external/entt"]
	path = deps/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "deps/external/assimp"]
	path = deps/external/assimp
	url = https://github.com/assimp/assimp.git	
[submodule "deps/external/imgui"]
	path = deps/external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "deps/external/rapidyaml"]
	path = deps/external/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
